/* Body styling */
body {
  background-color: black;
  text-align: center;
}

/* Heading styling */
header {
  text-align: center;
}

header h1 {
  font-family: Verdana;
  font-weight: normal;
  font-size: 50px;
  color: white;
}

header a {
  color: Aquamarine;
  font-size: 16px;
}
